<!doctype html>
<html lang="en">
<%- include ('./partials/header') %>
<body>
<%- include ('./partials/navbar') %>
  <div class="parallax1" >
    <div class="jumbotron">
      <h1 class="display-4">Welcome!</h1>
      <h2 class="lead" >Don't have access to proper help or therapy?</h2>
      <h3 class="lead" >Don't want to go through the hassle and wait times of booking appointments?</h3>
      <h4 class="lead" >Find someone <a href=map.html>here.</a></h4>
      <p>_______________________________________________</p>
      <p>Our team here at DeltaHacks are committed to creating an easy connection between you or someone in need, to a professional who is readily available to help.</p>
      <br>
      <a class="btn btn-primary btn-lg" href="sign_up.html" role="button">Sign up to be a helper today!</a>
    </div>
  </div>
    <div class="text-center">
      Copyright © Divesh Chudasama, Michael Ilao, Ryan Lee, Gordon Zhang 2019
    </div>
</body>
<%- include ('./partials/footer') %>
</html>
